@import "./game.scss";
@import "./stopwatch.scss";

.v-main {
    padding-top: 56px !important;
    max-height: 100%;
    overflow: hidden;
}

.v-app-bar {
    position: relative;
    height: 56px !important;

    .v-toolbar__title {
        -webkit-user-select: none;
        -webkit-app-region: drag;
        height: 100%;
        width: 100%;
        margin-top: 8px;
        padding-bottom: 8px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .v-btn {
        border-radius: 0;
        height: 56px !important;
    }

    .v-app-bar__nav-icon {
        min-width: 56px;
    }

    .v-navigation-drawer {
        top: 56px !important;

        .v-navigation-drawer__border {
            display: none;
        }
    }

    .v-toolbar__content {
        padding: 0;
        height: 56px !important;
    }

    .v-toolbar__title {
        font-size: 0.8rem;
        padding-left: 0.5rem !important;
    }

    .frame-buttons {
        margin-left: auto;
        white-space: nowrap;

        > .v-btn {
            min-width: 48px !important;
            padding: 0;
        }
    }
}

.v-navigation-drawer {
    max-height: 100vh !important;  // Fixes incorrect relative height as menu is contained inside app bar
    
    .v-list {
        padding: 0;
    }
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
  
::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

a {
    color: white !important;
}

.message-overlay {
    width: 300px;
    height: 200px;
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);

    .overlay-container {
        display: flex;
        flex-direction: column;
    }
}

.huge-icon {
    font-size: 5rem !important;
}

// Messes with icon centering inside text fields
.v-input__slot {
    margin: 0 !important;
}

.v-text-field__details {
    display: none !important;
}

.settings-container {
    max-height: calc(100vh - 7.5rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.settings-row {
    padding-left: 1rem;
    padding-right: 1rem;

    .col {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        > .v-input--checkbox {
            padding: 0;
            .v-icon {
                font-size: 2rem !important;
            }
        }

        .icon-button {
            position: absolute;
            right: 1.25rem;
            z-index: 1;
        }
    
        p {
            width: 100%;
            margin-left: 1rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding-right: 1rem;
            font-size: 0.8rem;
        }
    }

    input {
        text-align: center;
        text-overflow: ellipsis;
        margin: 0 1.5rem;
    }

    .v-text-field {
        font-size: 0.8rem;
    }
}

.main-container {
    position: relative;
    height: 100%;
    margin-top: 1rem;

    &.small {
        max-width: 500px;
    }

    > h4 {
        text-align: center;
        margin: 1rem;
    }
}

.button-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;

    > * {
        margin: 0.5rem 1.5rem;
    }
}

.centered-container {
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.about-grid {
    display: grid;
    grid-template-columns: auto auto;

    .icon {
        margin: 1rem;
        display: flex;
        justify-content: center;
    }

    > p, a {
        margin: auto 1rem;
    }
}

.dialog-card {
    .v-card__title {
        padding-bottom: 0 !important;
    }

    .v-card__text {
        margin-top: 1rem;
        padding-bottom: 0 !important;

        p {
            margin-bottom: 0;
        }
    }

    .v-card__actions {
        margin-top: 0.5rem;
    }
    
    .dialog-input {
        padding: 1.5rem 20px 0;
    
        input {
            text-overflow: ellipsis;
            margin-right: 2rem;
        }
    }

    .delete-button {
        position: absolute;
    
        .v-btn {
            background: #C00C;
            border-radius: 4px;
            width: 8rem;
        }
    }
}

.app-drawer {
    .v-btn {
        width: 100%;
    }
}

.keybinds-add {
    padding-left: 1rem;
    padding-right: 1rem;

    .v-btn {
        width: 100%;
        border-radius: 4px;
        border: solid 1px #555;
    }
}

.timer-btn-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    > * {
        margin: 0 2rem;
    }
}
