#clock {
    position: relative;
    user-select: none;

    > * {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }
  
    .time {
        color: gray;
        font-size: 4.5em;

        &.running {
          color: white;
        }

        &.stopped {
          color: lightskyblue;
        }
    }


    .btn-container {
        //margin-top: 2rem;
        > * {
          margin: 1rem 2rem;
        }
    }
}
